button {
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.boton-clic {
    background-color: rgb(34, 34, 197);
}

.boton-reiniciar {
    background-color: #5a01a7;
}